.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 110px;
}

.coin-valume {
  width: 200px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

/* tablet(wider) */
@media (max-width: 991.98px) {
  .coin-row {
    width: auto;
  }
  .coin {
    min-width: 0;
  }

  .coin-data > p {
    margin: 0 2%;
  }
}

/* tablet */
@media (max-width: 767.98px) {
  .coin-row {
    width: auto;
  }

  .coin {
    min-width: 0;
  }

  .coin-price {
    width: auto;
  }
  .coin-container-wrap {
    padding: 0 5%;
  }
}

/* smartphone */
@media (max-width: 575.98px) {
  .table-container {
    display: none;
  }
  .coin-container {
    margin: 0 auto;
  }
  .coin-row {
    /* display: block; */
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 8% 0;
  }
  .coin {
    margin-bottom: 2%;
  }

  .coin h1 {
    font-size: 22px;
  }

  .coin-data {
    display: block;
    text-align: left;
    margin-top: 4%;
  }

  .coin-data > p {
    margin: 2% 0;
  }

  .coin-price {
    width: auto;
  }
}
